<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div class="page-wrapper">
        <div class="main-section wf-section">
            <div class="container-default w-container"></div>
            <div class="card component-card">
                <div id="dropdowns">
                    <div class="component-card-badge-top-wrapper">
                        <div class="component-card-badge-top">Dropdowns</div>
                    </div>
                    <div class="card component-card">
                        <div class="grid-3-columns">
                            <div id="w-node-_63e13619-a69c-8289-08ef-b1fd953b2de3-e9803f0d"
                                class="inner-container _244px _100-tablet">
                                <div>
                                    <div id="w-node-f18a1fce-0ff6-7565-5f48-1e0735f5d8ea-35f5d8e9"
                                        class="mg-bottom-6px">
                                        <div class="text-100 medium color-neutral-800">Label</div>
                                    </div>
                                    <div data-hover="true" data-delay="0"
                                        data-w-id="f18a1fce-0ff6-7565-5f48-1e0735f5d8ed" class="width-100 w-dropdown"
                                        style="">
                                        <div class="dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-1"
                                            aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false"
                                            role="button" tabindex="0">
                                            <div class="text-100 medium">Select</div>
                                            <div class="line-rounded-icon dropdown-icon"
                                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                </div>
                                        </div>
                                        <nav class="dropdown-list w-dropdown-list" id="w-dropdown-list-1"
                                            aria-labelledby="w-dropdown-toggle-1"
                                            style="transform: translate3d(0px, -25px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0; display: none;">
                                            <div class="card border-radius-6px"><a
                                                    data-w-id="68b369b6-3be6-7f09-b964-343832956200" href="#"
                                                    class="dropdown-link-wrapper w-inline-block" tabindex="0">
                                                    <div>Dropdown item #1</div>
                                                </a><a data-w-id="68b369b6-3be6-7f09-b964-343832956200" href="#"
                                                    class="dropdown-link-wrapper w-inline-block" tabindex="0">
                                                    <div>Dropdown item #2</div>
                                                </a><a data-w-id="68b369b6-3be6-7f09-b964-343832956200" href="#"
                                                    class="dropdown-link-wrapper w-inline-block" tabindex="0">
                                                    <div>Dropdown item #3</div>
                                                </a><a data-w-id="68b369b6-3be6-7f09-b964-343832956200" href="#"
                                                    class="dropdown-link-wrapper w-inline-block" tabindex="0">
                                                    <div>Dropdown item #4</div>
                                                </a></div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_9fa32177-2ad7-b0e6-a212-9bc8083533f7-e9803f0d"
                                class="inner-container _244px _100-tablet"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>